<form [formGroup]="authForm">
  <h2>Veuillez vous identifier</h2>

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Identifiant</mat-label>
      <input matInput required formControlName="identifiant"/>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input formControlName="password" required matInput [type]="cacherMotPasse ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="cacherMotPasse = !cacherMotPasse" [attr.aria-label]="'Masquer password'" [attr.aria-pressed]="'masquer'">
        <mat-icon>{{cacherMotPasse ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button mat-flat-button matStepperNext color="Primary"
          title="Authentifier"  (click)="login()">
    Authentifier
    <mat-icon>account_circle</mat-icon>
  </button>
  <button style="margin-left: 5px" mat-flat-button matStepperNext color="warn"
          title="Annuler"  (click)="fermer()">
    Annuler
    <mat-icon>exit_to_app</mat-icon>
  </button>
</form>
